################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/perfectTiming/perfectTiming/bin/Debug
/perfectTiming/perfectTiming/obj/Debug
/perfectTiming/.vs/perfectTiming/v14
